RewriteEngine On

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^news/(.*)$ /blog/$1 [R=301,L]
</IfModule>


RewriteRule ^blog/([a-zA-Z0-9_-]+)$ blog/blog.php?slug=$1 [L]
RewriteRule ^blog/category/([a-zA-Z0-9_-]+)$ blog/category.php?categoryslug=$1 [L]

RewriteRule ^events/([a-zA-Z0-9_-]+)$ events/event.php?slug=$1 [L]

RewriteRule ^publications/$ publications.php [NC,L]

RewriteRule ^publications/golden-book/education-sector/$ publications/golden-book/education-sector/index.html [NC,L]
RewriteRule ^publications/golden-book/sports-sector$ publications/the-golden-book/sports-sector/index.html [NC,L]

RewriteRule ^publications/school-magazine$ publications-pwc/school-magazine/index.html [NC,L]

RewriteRule ^sports$ sports.php [NC,L]
RewriteRule ^clubs$ clubs.php [NC,L]

RewriteRule ^history$ history.php [NC,L]
RewriteRule ^history/former-principals$ history-former-principals.php [NC,L]

RewriteRule ^about$ about.php [NC,L]
RewriteRule ^about/prefects-guild$ about-prefects-guild.php [NC,L]
RewriteRule ^about/school-administration$ about-school-administration.php [NC,L]

RewriteRule ^about/school-infrastructure$ about-school-infrastructure.php [NC,L]
RewriteRule ^about/school-infrastructure/founders-statue$ location-founders-statue.php [NC,L]
RewriteRule ^about/school-infrastructure/the-shrine$ location-the-shrine.php [NC,L]

RewriteRule ^daily-period-log$ daily-period-log.php [NC,L]


RewriteRule ^contact$ contact.php [NC,L]
RewriteRule ^search$ search.php [NC,L]

RewriteRule ^team$ team.php [NC,L]

RewriteRule ^privacy$ privacy.php [NC,L]
RewriteRule ^cookies$ cookies.php [NC,L]
RewriteRule ^404$ 404.php [NC,L]

RewriteRule ^big-match$ battle-of-the-golds.php [NC,L]
RewriteRule ^principal-message$ principal-msg.php [NC,L]

RewriteRule ^admin-access$ admin_login.php [NC,L]
RewriteRule ^teachers-portal$ teacher_login.php [NC,L]


RewriteRule ^forms/students-information$ forms/students-info/form.php [NC,L]

RewriteRule ^forms/apply-al/science-closed$ forms/apply-al/science.php [NC,L]
RewriteRule ^forms/apply-al/commerce-closed$ forms/apply-al/commerce.php [NC,L]
RewriteRule ^forms/apply-al/tech-closed$ forms/apply-al/tech.php [NC,L]
RewriteRule ^forms/apply-al/art-closed$ forms/apply-al/art.php [NC,L]


ErrorDocument 404 /404.php
ErrorDocument 403 /403.php


Options -Indexes


<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/webm "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # Fonts
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"
  ExpiresByType application/font-woff2 "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Others
  ExpiresByType application/pdf "access plus 1 year"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>